.size-carou {
  height: 80vh;
  //width: 800px;
}
.img {
  width: 100% !important;
  height: 100% !important;
}

.slick-prev {
  left: 15px !important;
  z-index: 999;
  border-radius: 0 !important;
}
.slick-next {
  right: 13px;
  z-index: 999;
}
