.category-dropdown {
  font-size: 16px !important;
  background: black !important;
  padding: 5px !important;
}
.category-dropdown {
  //padding: 5px !important;
  //background: black !important;
  color: #fff;
  border: 1px solid black;
}
.form-ml {
  width: 70%;
  display: inline-block;
  //background: black !important;
}
.center {
  text-align: center;
}
.bg-black {
  background-color: black !important;
}
option {
  color: #fff;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-bg {
  background-color: #fff;
  color: black;
  padding: 7px 20px;
  transition: all 0.5s;
  &:hover {
    color: #1db954;
  }
}
